<!--Copyright {{"now"|date('Y')}}-->
<section class="Footer container">

<div>
  <p>{{footer.organization_name}}</p>
  <p>{{footer.office_location}}</p>
  <p>{{footer.primary_phone_number}}</p>
</div>
<div>
  <h5>Direct Hire Division</h5>
  <p>P. {{footer.direct_hire_phone_number}}</p>
  <p>F. {{footer.direct_hire_fax_number}}</p>
  <h5>For Employers</h5>
  <p>{{footer.direct_hire_employers_contact.post_title}}</p>
  <p></p>
</div>
<div>
  <h5>Temporary Services Division</h5>
  <p>P. {{footer.temporary_services_phone_number}}</p>
  <p>F. {{footer.temporary_services_fax_number}}</p>
  <h5>For Employers</h5>
  <p>{{footer.temporary_services_employers_contact.post_title}}</p>
  <p></p>
</div>
<div>
  <a href="{{footer.facebook_url}}" target="_blank">Facebook</a>
  <a href="{{footer.twitter_url}}" target="_blank">Twitter</a>
</div>

</section>