<!--For smooth scrolling
    top2 is necessary to keep the alternating div classes in order
-->

<!-- NavBar-->
<header class="NavBar">
{% if isHomepage == false %}
  <a class="NavBar-homeAnchor" href="{{site.url}}">
{% else %}
   <a class="NavBar-homeAnchor" href="#top" data-scroll>
{% endif %}
    <img class="NavBar-logo full" src="{{site.theme.link}}/img/Logo.svg" alt="{{site.title}}">
    <img class="NavBar-logo mark-only" src="{{site.theme.link}}/img/Mark.svg" alt="{{site.title}}">
    <!--<h1 class="visually-hidden">Alliance for Industrial Efficiency</h1>-->
  </a>
	<nav class="NavBar-wrapper nav-collapse" role="navigation">
		<!-- Site Branding & Home link-->

		<!-- Global navigation for site -->
    <a href="#" class="NavBar-mobileToggle ss-rows"></a>
    <!-- Primary Call to Action -->

    <!-- Nav Menu -->
    <ul class="NavBar-mainMenu">
		{% for item in menu %}
      <li class="NavBar-menuItem">
        <a class="NavBar-menuLink {% if item.is_active %} active {% endif %}" href="{{item.url}}">
          <span class="NavBar-linkText">{{item.title}}</span>
        </a>
      </li>
	{% endfor %}
		</ul><!-- END: main-nav -->

  </nav><!-- END: nav-bar__nav-wrapper -->
</header><!-- END: nav-bar -->
